.pick-list-page {
  height:100vh;
  .header {
    color:#f6f6f6;
    font-family: 'Ubuntu', sans-serif;
    font-size:1.5rem;
    padding-left: 25%;
    // .icon {
    //   padding-left: 5%;
    // }
  }
  
  .content {
    position:relative;
    top:3%;
    .ant-list {
      height: 430px;
      overflow-y: scroll;
    }
  }
}